/* PHASE 12: Modal */
.modal-screen{
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2px;
  background: rgba(0, 0, 0, 0.8);
}

.modal-form {
  position: absolute;
  /* display: flex; */
  margin: 40px auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 500px;
  height: 500px;
  background-color: orange;
}
.input {
  margin: 0 0 20px 0;
}
.submit {
  margin: 20px 0 0 0;
  padding: 0 0 3px 0;
}